#nav-bar {
    position: fixed;
    margin-top: -16px;
    font-family: Roboto Condensed;
    background-color: #00a087;
    padding-right: 2em;
    padding-left: 2em;
    width: 100%;
    height: 80px;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar button {
    float: right;
    margin: 6px;
    padding: 13px;
    border-color: white;
    border-style: double;
    font-family: Roboto Condensed;
    font-size: 200%;
}

#nav-bar button:hover {
    float: right;
    margin: 6px;
    padding: 13px;
    border-color: white;
    border-style: dashed;
    font-family: Roboto Condensed;
    font-size: 200%;
    background-color: orange;
}

#nav-bar span {
    float: left;
    padding-left: 10px;
    line-height: 80px;
    font-size: 200%;
}