
main .show-tweets {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;

}
.show-tweets article {
    margin-top: 20px;
    border: 1.0px solid grey;
    border-radius: 5px;
}

.show-tweets header {
    background: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    border-radius: 3px;
    color: grey
}

.show-tweets h2 {
    padding-right: 7em;
    margin-top: -5px;
    font: 25px;
}

.show-tweets article div {
    display: inline;
    color: grey;
    border-collapse: separate;
    border-spacing: 10px
}

.show-tweets .avatar {
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    width: 50px;
    float: left;
}

.show-tweets .text {
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.show-tweets footer {
    padding: 10px;
    text-align: inherit;
    border-top: 1px solid grey;
}

.show-tweets footer i {
    opacity: 0;
}

article:hover {
    border-color: darkgray;
    border-width: 1px;
}

article:hover footer i {
    padding-right: 5px;
    float: right;
    opacity: 1;
    color: orange;
}

 article:hover header {
    background-color: lightgray;
    color: black;
 }

  article:hover .text {
    color: black;
 }