
main .show-tweets {
    margin-top: 20px;
    border-radius: 5px;
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    border: 1.5px solid grey;
}

.show-tweets header {
    background: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    border-radius: 3px;
    color: grey
}

.show-tweets h2 {
    padding-right: 7em;
    margin-top: -5px;
    font: 25px;
}

.show-tweets article div {
    display: inline;
    color: grey;
}

.show-tweets .avatar {
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 70px;
    width: 70px;
    float: left;
}

.show-tweets .text {
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;


}

.show-tweets footer {
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 2px;
    background: white;
    height: 40px;
    text-align: inherit;
    border-radius: 5px;
    border-top: 1.5px solid grey;
}

.show-tweets footer i {
    padding-right: 5px;
    float: right;
    opacity: 0;
}

.show-tweets:hover footer i {
    padding-right: 5px;
    float: right;
    opacity: 1;
    color: black;
}

.show-tweets:hover {
    border-color: darkgray;
    border-width: 2px;
 }

 .show-tweets:hover header {
    background-color: darkgray;
    color: white;
 }